:root {
    --primary-color: #7289da;
    --sidebar-gray-color: #424549;
    --functional-gray-color: #36393e;
    --navbar-gray-color: #282b30;
    --background-gray-color: #1e2124;
    --light-gray-color: #99aab5;
    --white: #ffffff;
}