.footer {
    z-index: 9999;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-content ul {
    list-style-type: none;
}

.footer-bottom {
    text-align: end;
}