@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #7289da;
  --sidebar-gray-color: #424549;
  --functional-gray-color: #36393e;
  --navbar-gray-color: #282b30;
  --background-gray-color: #1e2124;
  --sidebar-gray-color-dark: #16181a;
  --light-gray-color: #99aab5;
  --white: #ffffff;

  --yellow-color: #ffca4f;
  --orange-color: #f28f0c;
  --brown-color: #664400;
  --blue-color: #5eaeeb;
  --white-color: #FFFFFF;

  --decline-color: #ed5555; /* отклонён */
  --accepted-color: #b4c468; /* принят */
  --inprogress-color: #b8a7ea; /* в процессе */
  --processing-color: #b7e0dc; /* обработка */
  --deprecated-color: #bdd1a0; /* устаревший */
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--white);
}
body {
  background-color: var(--background-gray-color);
  color: var(--white);
  font-family: 'Exo2', sans-serif;
  overflow-x: hidden;
}

table {
  border: 2px solid var(--functional-gray-color);
}

th,td {
  padding: 5px;
  border: 1px solid var(--primary-color);
}

select {
  background: var(--functional-gray-color);
  padding: 6px;
  color: var(--white);
  border: none;
  border-radius: .5em;
}

input {
  background: var(--functional-gray-color);
  border: 1px solid var(--sidebar-gray-color);
  color: white;
  padding: 15px;
  border-radius: .5em;
  height: 20px;
}

button {
  cursor: pointer;
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  padding: 5px 20px;
  background: var(--primary-color);
  border-radius: .7em;
  border: none;
}

.delete-btn {
  background: var(--decline-color);
}